@page "/dinner"
@layout PageLayout
@inherits RecipeListComponent
@inject Task<IEnumerable<RecipeItem>> _getRecipes
@inject NavigationManager NavigationManager

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        @foreach (var item in GetRecipes())
        {
            <div class="mat-layout-grid-cell">
                <RecipeOverviewComponent IsListView="true" Item="item"></RecipeOverviewComponent>
            </div>
        }
    </div>
</div>

<MatTooltip Tooltip="@($"Add {Type} Recipe")" TargetId="fab" Position="MatTooltipPosition.Top">
    <MatFAB Id="fab" Class="mat-fab" Icon="@MatIconNames.Add" OnClick='() => NavigationManager.NavigateTo(NewRecipeRoute)'></MatFAB>
</MatTooltip>

@code {
    [CascadingParameter(Name = "PageLayout")] PageLayout Layout { get; set; }

    protected override CassandrasCookbook.Shared.Recipe.Type Type => CassandrasCookbook.Shared.Recipe.Type.Dinner;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (Layout == null) return;
        Layout.Reset();
        Layout.Layout.Title = "Dinner";
    }

    protected override async Task OnInitializedAsync()
    {
        AllRecipes = await _getRecipes;
        await base.OnInitializedAsync();
    }
}