@page "/appetizers-and-sides"
@layout PageLayout
@inherits RecipeListComponent
@inject Task<IEnumerable<RecipeItem>> _getRecipes

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        @foreach (var item in GetRecipes())
        {
            <div class="mat-layout-grid-cell">
                <RecipeOverviewComponent IsListView="true" Item="item"></RecipeOverviewComponent>
            </div>
        }
    </div>
</div>


@code {
    [CascadingParameter(Name = "PageLayout")] PageLayout Layout { get; set; }

    protected override CassandrasCookbook.Shared.Recipe.Type Type => CassandrasCookbook.Shared.Recipe.Type.Appetizer;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (Layout == null) return;
        Layout.Reset();
        Layout.Layout.Title = "Appetizers";
    }

    protected override async Task OnInitializedAsync()
    {
        AllRecipes = await _getRecipes;
        await base.OnInitializedAsync();
    }
}